<div>
  @if (Uistate === 'loading') {
<div class="skeleton-container" aria-label="Chargement des données">
    <div class="skeleton chartAndCards"></div>
    <div class="skeleton chartAndCards"></div>
</div>
}@else if (Uistate === 'error') {
  <div class="error-message">
    <p class="center">
      An error has occured during data fetching! 
    </p>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
}@else if (Uistate === 'empty') {
  <div class="error-message">
    <p class="center">
      Data not found! 
    </p>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
}@else if (Uistate === 'success') {
   <app-header
  [title]="titlePage"
  [cards]="cards" >
   </app-header>
  <div class="chart-container wrapper-container">
    <div class="container">
      <app-line-chart [years]="years", [medals]="medals"></app-line-chart>
      <h2>Date</h2>
    </div>
  </div>
  
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
}
</div>
