.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}


.page-header{
     margin-bottom: 2rem;
}


.page-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #222;
}

.page-intro {
  font-size: 0.95rem;
  color: #222;
  max-width: 800px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
}


