<div class="dashboard-container">
<section class="page-header">
  <h1 class="page-title center">Olympic Games Dashboard</h1>
  <p class="page-intro">
    This application allows users to visualize the performance of countries
    at the Olympic Games through summary indicators and interactive charts.
  </p>
</section>
@if (UiState === 'loading') {
<div class="skeleton-container" aria-label="Chargement des données">
    <div class="skeleton chartAndCards"></div>
    <div class="skeleton chartAndCards"></div>
</div>
}@else if (UiState === 'error') {
  <div class="error-message">
    <p class="center">
      An error has occured during data fetching! 
    </p>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
}@else if (UiState === 'empty') {
  <div class="error-message">
    <p class="center">
      Data not found! 
    </p>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
}@else if (UiState === 'success') {
<div>
  <app-header
  [title]="titlePage"
  [cards]="cards" >
   </app-header>
  <app-pie-chart (countrySelected)="onCountrySelected($event)" [countries]="countries" [medalsPerCountry]="medalsPerCountry" [IDs]="iDs" ></app-pie-chart>
</div>
}
</div>
